{% extends 'base.html' %}

{% block content %}
    {{ super() }}
{% for msg in get_flashed_messages() %}
    <p class="message">{{ msg }}</p>
{% endfor %}
    <div class="form-block">
        <form action="{{ url_for('registr') }}" method="post" class="login-form">
             {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
            <p>{{ field.label() }}</p>
            {% if field.errors %}
                {{ field(class='invalid') }}
            <span class="invalid-feedback">
                {% for e in field.errors %}
                {{ e }}
                {% endfor %}
            </span>
            {% else %}
                {{ field() }}
            {% endif %}
        {% endfor %}
        {{ form.submit() }}
        </form>
    </div>
{% endblock %}